<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="blue">
            <i class="material-icons">book</i>
        </div>
        <div class="card-content">
            <h4 class="card-title">Usuarios </h4>
            <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <table-cmp [data]="data" [structure]="structure" (valueChange)='changePassword($event)' (valueChange2)='editRoles($event)'></table-cmp>
        </div>
    </div>
</div>