<div class="header text-center">
    <h3 class="title">Instrucciones</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-content">
                <ul class="timeline">

                    <!--INTRODUCCION-->
                    <li class="timeline-inverted">
                        <div class="timeline-badge danger">
                            <i class="material-icons">flag</i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span class="label label-danger">Comenzando</span>
                            </div>
                            <div class="timeline-body">
                                <p>En este sitio se pueden gestionar todos los tramites relacionados con inclusiones, levantamiento de requisitos, levantamiento de RN y sus  respectivas apelaciones.
                                </p>
                            </div>
                        </div>
                    </li>

                    <!--PASO 1: CURSOS-->
                    <li>
                        <div class="timeline-badge success">
                            <i class="material-icons">grid_on</i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span class="label label-success">1. Plan de Cursos</span>
                            </div>
                            <div class="timeline-body">
                                <p>El primer paso para cualquiera de los tramites es el de indicar el plan de cursos para el proximo semestre, ingresando en la opcion "Plan de cursos" del menu izquierdo.</p>
                            </div>
                        </div>
                    </li>

                    <!--PASO 2: FORMULARIOS-->
                    <li class="timeline-inverted">
                        <div class="timeline-badge info">
                            <i class="material-icons">content_paste</i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span class="label label-info">2. Formularios</span>
                            </div>
                            <div class="timeline-body">
                                <p>Una vez finalizado con e plan de cursos, se debe llenar el respectivo formulario, los tres formularios estan disponibles en el menu izquierdo, en la opcion de formularios. Cabe destacar que la información que se solicita es la misma que la informacion solicitada en el formulario fisico, se debe llenar todos y cada uno de los campos y apegarse al reglamento previamente aceptado en los terminos y condiciones</p>
                            </div>
                        </div>
                    </li>

                    <!--PASO 3: RESULTADOS-->
                    <li>
                        <div class="timeline-badge warning">
                            <i class="material-icons">done_all</i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <span class="label label-warning">3. Final</span>
                            </div>
                            <div class="timeline-body">
                                <p>Los formularios podran ser enviados y editados hasta una fecha limite indicada por la administración del area. Los resultados estaran disponibles en la sección de historial de solicitudes. En la opcion de apelaciones se podran realizar reclamos en caso de ser necesario.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>