<br/>
<br/>
<br/>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Detalles de la solicitud:
            <strong> {{studentDetails.primer_nombre}} {{studentDetails.segundo_nombre}} {{studentDetails.primer_apellido}} {{studentDetails.segundo_apellido}},
                {{studentDetails.carne}}.
            </strong>
        </h4>
    </div>
    <div class="card-content">
        <ul class="nav nav-pills nav-pills-info">
            <li class="active">
                <a href="#tab1" data-toggle="tab">Estudiante</a>
            </li>
            <li>
                <a href="#tab2" data-toggle="tab">Solicitud</a>
            </li>
            <li>
                <a href="#tab3" data-toggle="tab">Área Académica</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h3 class="card-title">Datos del estudiante que solicita:</h3>
                    <div class="card-content ">

                        <br />
                        <br />
                        <h4>
                            <strong>Fecha de envío:</strong> {{requestDetails.fecha_apelacion}}</h4>
                        <h4>
                            <strong>Nombre:</strong> {{studentDetails.primer_nombre}} {{studentDetails.segundo_nombre}} {{studentDetails.primer_apellido}}
                            {{studentDetails.segundo_apellido}}
                        </h4>
                        <h4>
                            <strong>Carné:</strong> {{studentDetails.carne}}</h4>
                        <h4>
                            <strong>Correo electrónico:</strong> {{studentDetails.correo_electronico}}</h4>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tab2">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h3 class="card-title">Datos del curso que solicita:</h3>

                    <div class="card-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div *ngIf=" apelacionTipo == 'Inclusión' ">
                                    <h4>
                                        <a href="/#/com/inclusiones/{{requestDetails.id}}  "> Ver solicitud </a>
                                    </h4>
                                </div>
                                <div *ngIf=" apelacionTipo == 'Levantamiento Requisito' ">
                                    <h4>
                                        <a href="/#/com/levantamiento/{{requestDetails.id}}  "> Ver solicitud </a>
                                    </h4>
                                </div>
                                <div *ngIf=" apelacionTipo == 'Levantamiento Requisito RN' ">
                                    <h4>
                                        <a href="/#/com/levantamientoRN/{{requestDetails.id}}  "> Ver solicitud </a>
                                    </h4>
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title"> Ver archivo adjunto:
                                        <strong>
                                            <a href="https://www.google.com"> Link!</a>
                                        </strong>
                                    </h3>
                                </div>

                                <h3>
                                    <strong>Observación del estudiante para apelar:</strong>
                                </h3>
                                <p>{{requestDetails.apelacion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">

                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h3 class="card-title"> Edición del proceso: </h3>

                    <div class="col-md-5 col-md-offset-3">
                        <!-- <div class="col-md-5 col-md-offset-3"><
                                    <div class="col-md-6 col-md-offset-3 text-center"> <div class="alert alert-info"> -->
                        <div class="card">
                            <div class="card-content">
                                <form method="#" action="#" (submit)="updateData()">

                                    <div class="form-group label-floating">
                                        <select class="selectpicker" data-style="btn btn-primary btn-round" [(ngModel)]="requestDetails.estado_apelacion" name="state">
                                            <option disabled selected>Seleccione el estado</option>
                                            <option *ngFor="let stat of statusList" [value]="stat.descripcion">{{stat.descripcion}}</option>
                                        </select>
                                    </div>
                                    <!-- <div class="form-group label-floating">
                                        <select class="selectpicker" data-style="btn btn-primary btn-round" [(ngModel)]="requestDetails.encargado_apelacion" name="revBy">
                                            <option disabled selected>Seleccione quién revisa</option>
                                            <option *ngFor="let stat of rolesList" [value]="stat.name">{{stat.name}}</option>
                                        </select>
                                    </div> -->
                                    <div class="form-group label-floating">
                                        <label>
                                            <h4>
                                                <strong> Requiere proceso en </strong>
                                            </h4>
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="requestDetails.requiere_proceso" name="reqP">
                                    </div>
                                    <div class="form-group label-floating">
                                        <label>
                                            <h4>
                                                <strong>Observacion </strong>
                                            </h4>
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="requestDetails.observacion_apelacion" name="obse">
                                    </div>

                                    <div class="form-group label-floating">
                                        <label>
                                            <h4>
                                                <strong>Número de memorandum </strong>
                                            </h4>
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="requestDetails.memo_apelacion" name="memo">
                                    </div>

                                    <div class="form-group label-floating">
                                        <label>
                                            <h4>
                                                <strong>Número de sesión </strong>
                                            </h4>
                                        </label>
                                        <input type="text" class="form-control" [(ngModel)]="requestDetails.sesion_apelacion" name="sesion_apelacion">
                                    </div>

                                    <button type="submit" class="btn btn-fill btn-success">Realizar Cambios</button>

                                </form>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <br/>
        <br/>

    </div>
    <div class="card-content">
        <div align="center">
            <button class="btn btn-info" (click)="navigateToParent()">VOLVER</button>
        </div>

    </div>