<div class="wrapper">
    <div class="sidebar" data-active-color="blue" data-background-color="blue" data-image="../assets/img/sidebar-1.jpg">

        <sidebar-cmp></sidebar-cmp>
        
        <!--<sidebarAdmin-cmp></sidebarAdmin-cmp>-->
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>

       <!-- <navbar-cmp></navbar-cmp>
        <dashboardAdmin-cmp></dashboardAdmin-cmp>-->
    </div>
</div>