<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="header text-center">
                            <h3 class="title">Administración de solicitudes de apelacion de requisitos</h3>
                        </div>

                        <div class="header text-center">
                            <h4 class="title"> Instrucciones </h4>
                        </div>

                        <div align="center">
                            <p>
                                En el siguiente apartado se presenta una tabla con datos de las solicitudes de apelacion de requisitos de estudiantes,
                                en la misma se edita la información. Pasos de uso:
                                <br>
                                <br>
                                <strong>1. </strong> Diríjase a la fila con la información de la solicitud a ver o editar.
                                <br>
                                <strong>2. </strong> Presione sobre el ícono de edición en la columna de acciones de la fila a editar
                                y realice los cambios o revise la información requerida.
                                <br>
                                <strong>3. </strong> Una vez editado el campo se guarda automáticamente en el sistema o simplemente
                                permanece igual.
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <table-apelacion-Admin-cmp></table-apelacion-Admin-cmp>
    </div>
</div>