<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="header text-center">
                            <h3 class="title">Administración de inclusiones</h3>
                        </div>

                        <div class="header text-center">
                            <h4 class="title"> Instrucciones </h4>
                        </div>

                        <div align="center">
                            <p>
                                En el siguiente apartado se presenta una tabla con datos de los solicitudes de inclusiones, se puede extraer y editar la
                                información. Pasos de uso:
                                <br>
                                <br>
                                <strong>1. </strong> Diríjase a la fila con la información de la solicitud del estudiante que desea
                                editar.
                                <br>
                                <strong>2. </strong> Presione sobre el ícono de edición en la columna de acciones de la fila a editar
                                y realice los cambios o revise la información.
                                <br>
                                <strong>3. </strong> Una vez editado el campo se guarda automáticamente en el sistema, o solo permanece
                                igual.
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <table-Inclusiones-Admin-cmp></table-Inclusiones-Admin-cmp>
            </div>
        </div>
    </div>
</div>