<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="card-content">
                        <div class="header text-center">
                            <h3 class="title">Admistración de solicitudes de levantamiento en estudiantes con RN</h3>
                        </div>

                        <div class="header text-center">
                            <h4 class="title"> Instrucciones </h4>
                        </div>

                        <div align="center">
                            <p>
                                En el siguiente apartado se presenta una tabla con datos de los solicitudes de inclusiones, cada una cuenta con un enlace a toda la 
                                información de la respectiva solicitud y espacios de edición. Pasos de uso:
                                <br>
                                <br>
                                <strong>1. </strong> Diríjase a la fila con la información de la solicitud del estudiante que desea
                                editar.
                                <br>
                                <strong>2. </strong> Presione sobre el enlace en la columna de detalles de la fila.
                                <br>
                                <strong>3.</strong>  Se abrirá una ventana con la información de la solicitud.
                                <br>
                                <strong>4. </strong> En la ventana de Área Académica se encuentran los campos a editar, presione el botón de "Realizar Cambios" para 
                                efectuar los cambios.
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <table-RN-Com-cmp></table-RN-Com-cmp>
    </div>
</div>